<form name="userForm" class="form-inline" novalidate>
  <div class="panel panel-info">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                </div>
                <h5 class="panel-title"> Barangay {{UserAcount.barangay.barangay_name}} Transients Profile </h5>

        </div>
  <div class="panel-body">

                <div class="well">
                    <div class="row">
                        <div class="col-md-6">
                                <label for="resident_divorce">Name Of the Interviewer/Kagawad : </label><br>
                                    <ui-select ng-model="brgytranscend.Interviewer" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 200px;" title="Choose a person">
                                    <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                    <ui-select-choices repeat="Interviewer._id +', '+  Interviewer.fullname as Interviewer in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                    <div ng-bind-html="Interviewer.fullname | highlight: $select.search"></div>
                                    </ui-select-choices>
                                  </ui-select>
                        </div>
                        <div class="col-md-6">
                                <label>Sitio/Purok : </label><br>
                                   <ui-select ng-model="brgytranscend.sitiopurok" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 200px;" title="Choose a person">
                                    <ui-select-match placeholder="Select Sitio/Purok Name">{{$select.selected.sitioPurokname}}</ui-select-match>
                                    <ui-select-choices repeat="sitiopurok._id +', '+ sitiopurok.sitioPurokname as sitiopurok in GetAllSitioPuroklist | propsFilter: {sitioPurokname: $select.search}">
                                    <div ng-bind-html="sitiopurok.sitioPurokname | highlight: $select.search"></div>
                                    </ui-select-choices>
                                  </ui-select>
                        </div>

                    </div>
                         <hr>
                    <tabset justified="true">
                        <tab heading="Profile"> <br /><br />
                            <div class="row">

                                <div class="col-lg-4">

                                    <div class="control-group" ng-class="{error: brgytranscend.prof_firstname.$invalid && !brgytranscend.prof_firstname.$pristine}">
                                        <label class="control-label" for="prof_firstname">First Name</label>
                                        <div class="controls">
                                            <input id="prof_firstname" name="prof_firstname" ng-model="brgytranscend.prof_firstname" type="text" class="form-control" required="" capitalize-first/>
                                        </div>
                                        <p ng-show="userForm.prof_firstname.$invalid && !userForm.prof_firstname.$pristine" class="help-block" style="color: red;"> * Must enter Firstname</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgytranscend.prof_middle_name.$invalid && !brgytranscend.prof_middle_name.$pristine}">
                                        <label class="control-label" for="prof_middle_name">Middle Name</label>
                                        <div class="controls">
                                            <input id="prof_middle_name" name="prof_middle_name" ng-model="brgytranscend.prof_middle_name" type="text"  class="form-control" required="" capitalize-first/>
                                        </div>
                                        <p ng-show="userForm.prof_middle_name.$invalid && !userForm.prof_middle_name.$pristine" class="help-block" style="color: red;"> * Must Enter Middlename</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgytranscend.prof_lastname.$invalid && !brgytranscend.prof_lastname.$pristine}">
                                        <label class="control-label" for="prof_lastname">Last Name</label>
                                        <div class="controls">
                                            <input id="prof_lastname" name="prof_lastname" ng-model="brgytranscend.prof_lastname" type="text"  class="form-control" required="" capitalize-first/>
                                            <p ng-show="userForm.prof_lastname.$invalid && !userForm.prof_lastname.$pristine" class="help-block" style="color: red; "> * Must enter Lastname</p>
                                        </div>
                                    </div> <br />

                                    <div class="control-group">

                                        <label class="control-label" for="prof_gender"> Gender </label>

                                        <div class="row">
                                         <div  <div class="col-md-6">
                                            <label class="radio inline" for="prof_male">
                                                <input type="radio" name="prof_gender" ng-model="brgytranscend.prof_gender" id="Male" value="Male" checked="checked">
                                                Male
                                            </label>
                                            </div>
                                             <div  <div class="col-md-6">
                                            <label class="radio inline" for="prof_female">
                                                <input type="radio" name="prof_gender" ng-model="brgytranscend.prof_gender" id="Female" value="Female">
                                                Female
                                            </label>
                                        </div>

                                    </div> <br />
                                    <div class="row">
                                        <div class="control-group">
                                                <label> Contact No. : </label>
                                                <br>
                                                    <textarea class="form-control" ng-model="brgytranscend.contactno"></textarea>
                                          </div>
                                          <div class="control-group">
                                                <label>Email Address : </label>
                                                <br>
                                                    <textarea class="form-control" ng-model="brgytranscend.emailaddress"></textarea>
                                          </div>
                                    </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">

                                    <div  ng-show="brgytranscend.imageuri">
                                           <img id="Hello" src="{{brgytranscend.imageuri}}" ng-model="brgytranscend.imageuri"
                                          style="height: 70%; width: 70%;">
                                    </div>
                                    <div class="well" ng-show="!brgytranscend.imageuri" style="height: 200px; width: 200px;">
                                           <img id="Hello" ng-src="img/no-photo-icon.png"  ng-model="brgytranscend.imageuri"
                                           height="160" width="160">
                                    </div>
                                    <div class="control-group" ng-class="{error: brgytranscend.transcend_address.$invalid && !brgytranscend.transcend_address.$pristine}">
                                        <label class="control-label" for="sitio">Home Address</label>
                                            <div class="controls">
                                                <textarea id="transcend_address" name="transcend_address" class="form-control" required="" ng-model="brgytranscend.transcend_address"></textarea>
                                             </div>
                                        <p ng-show="userForm.transcend_address.$invalid && !userForm.transcend_address.$pristine" class="help-block" style="color: red;"> * Must Enter the address !</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgytranscend.baranggay_bplace.$invalid && !brgytranscend.baranggay_bplace.$pristine}">
                                        <label class="control-label" for="baranggay_bplace">Birth Place</label>
                                        <div class="controls">
                                            <textarea id="baranggay_bplace" name="baranggay_bplace" class="form-control" required="" ng-model="brgytranscend.baranggay_bplace"></textarea>
                                        </div>
                                        <p ng-show="userForm.baranggay_bplace.$invalid && !userForm.baranggay_bplace.$pristine" class="help-block" style="color: red;"> * Must Enter the Birth Place !</p>
                                    </div> <br />

                                    <div class="control-group" ng-class="{error: brgyresident.b_date.$invalid && !brgyresident.b_date.$pristine}">
                                        <label for="b_date">Birth Date</label>
                                        <div class="controls">
                                         <input type="text" class="form-control" datepicker-popup="MMMM-dd-yyyy" ng-model ="brgytranscend.b_date" is-open = "brgytranscend.b_date.open" ng-click = "brgytranscend.b_date.open = true" min-date="minDate" max-date="'maxDate'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                                        </div>

                                    </div><br />
                                    <p ng-if="get_age"> <span class="alert alert-success">Age: {{ get_age | number:0 }}</span> </p>
                                    <p ng-show="brgytranscend.current_age" ng-hide="get_age"><span class="alert alert-success">Age: {{ brgytranscend.current_age | number:0 }} </span></p>

                                </div>

                                <div class="col-lg-4">


                                <br>

                             <div class="control-group">
                                    <label class="control-label" for="prof_status">Status</label>
                                    <div class="controls">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label class="radio inline" for="Single">
                                                    <input type="radio" name="prof_status" ng-model="brgytranscend.prof_status" id="Single" value="Single">
                                                    Single
                                                </label>
                                            </div>
                                                 <div class="col-md-6">
                                                    <label class="radio inline" for="Married">
                                                        <input type="radio" name="prof_status" ng-model="brgytranscend.prof_status" id="mMrriage" value="Married">
                                                        Married
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <label class="radio inline" for="Widow">
                                                        <input type="radio" name="prof_status" ng-model="brgytranscend.prof_status" id="Widow" value="Widow">
                                                        Widow
                                                    </label>
                                                    </div>
                                                    <div class="col-md-6">
                                                    <label class="radio inline" for="Divorce">
                                                        <input type="radio" name="prof_status" ng-model="brgytranscend.prof_status" id="Divorce" value="Divorce">
                                                        Divorce
                                                    </label>
                                                </div>
                                          </div>
                                    </div>
                                    </div><br />

                                    <div ng-show="brgytranscend.prof_status === 'Married' || brgytranscend.prof_status === 'Widow'" class="control-group">
                                            <label>Is your Spouse/Widow resident in this barangay?</label><br>
                                            <form>
                                                <label for="Yes">Yes</label>
                                                <input id="Yes" type="radio" name="spouse_resident" ng-model="brgytranscend.spouse_resident" value="Yes">
                                               &nbsp; &nbsp; &nbsp; &nbsp;
                                                <label for="No">No</label>
                                                <input id="No" type="radio" name="spouse_resident" ng-model="brgytranscend.spouse_resident" value="No">
                                            </form>
                                            <div ng-show="brgytranscend.spouse_resident === 'Yes' ">
                                                <label for="resident_married_to">Name of Spouse</label>
                                                 <ui-select ng-model="brgytranscend.spouse" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                                    <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                                    <ui-select-choices repeat="spouse.fullname +' '+  spouse.b_date as spouse in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                                      <div ng-bind-html="spouse.fullname | highlight: $select.search"></div>
                                                      <small>
                                                      <img id="Hello" src="{{spouse.imageuri}} "class="img-rounded"  style="height: 15%; width: 15%;">
                                                        <!-- B-Date: <span ng-bind-html="''+spouse.b_date | highlight: $select.search | date"></span> -->
                                                      </small>
                                                    </ui-select-choices>
                                                  </ui-select>
                                            </div>
                                            <div ng-show="brgytranscend.spouse_resident === 'No' ">
                                                <div class="form-group" ng-class="{error: brgytranscend.spouse.$invalid && !brgytranscend.spouse.$pristine}">
                                                    <label for="secretary">Name of your Spouse</label>
                                                         <tags-input ng-model="brgytranscend.spouse_not_resident" placeholder="Add Spouse here" style="width: 250px;">
                                                         </tags-input>
                                                 </div><br /><br />
                                            </div>
                                    </div>

                                    <div ng-show="brgytranscend.prof_status === 'Divorce'" class="control-group">
                                            <label for="resident_divorce">Name of X-spouse or Husband</label>
                                                <ui-select ng-model="brgytranscend.x_spouse" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 200px;" title="Choose a person">
                                                <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}} {{$select.selected.b_date}}</ui-select-match>
                                                <ui-select-choices repeat="x_spouse.fullname +' '+  x_spouse.b_date as x_spouse in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                                  <div ng-bind-html="x_spouse.fullname | highlight: $select.search"></div>
                                                  <small>
                                                  <img id="Hello" src="{{x_spouse.imageuri}} "class="img-rounded"  style="height: 15%; width: 15%;">
                                                  </small>
                                                </ui-select-choices>
                                              </ui-select>
                                    </div>

                                </div>

                                <div class="col-lg-4">

                                    <div ng-show="brgytranscend.prof_status === 'Married' || brgytranscend.prof_status === 'Divorce' || brgytranscend.prof_status === 'Widow'">
                                            <label>List of Children</label><br>
                                              <ui-select multiple ng-model="brgytranscend.childrens" theme="select2" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 250px;">
                                                <ui-select-match placeholder="Firstname middlename lastname">{{$item.fullname}}</ui-select-match>
                                                <ui-select-choices repeat="childrens.fullname +' '+ childrens.b_date as childrens in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                                  <div ng-bind-html="childrens.fullname | highlight: $select.search"></div>
                                                  <small>
                                                  <img id="Hello" src="{{childrens.imageuri}} "class="img-rounded"  style="height: 15%; width: 15%;">

                                                  </small>
                                                </ui-select-choices>
                                              </ui-select>
                                            <div class="form-group" ng-class="{error: brgytranscend.noresident_childrens.$invalid && !brgytranscend.noresident_childrens.$pristine}">
                                                    <label for="secretary">List of Children not in this barangay</label>
                                                      <tags-input ng-model="brgytranscend.noresident_childrens" placeholder="Add the list of your children here" style="width: 250px;">
                                                      </tags-input>
                                            </div><br /><br />
                                     </div>
                                 </div>
                                 <div class="col-lg-4">
                                    <div class="control-group" ng-class="{error: brgytranscend.lengthstay.$invalid && !brgytranscend.lengthstay.$pristine}">
                                        <label class="control-label" for="prof_occupation"> Expected length of Stay </label>
                                        <div class="controls">
                                            <textarea id="lengthstay" name="lengthstay" class="form-control" required="" ng-model="brgytranscend.lengthstay"></textarea>
                                        </div>
                                        <p ng-show="userForm.lengthstay.$invalid && !userForm.lengthstay.$pristine" class="help-block" style="color: red;"> * Must Enter Occupation </p>
                                    </div><br />
                                    <div class="control-group" ng-class="{error: brgytranscend.purposeofstay.$invalid && !brgytranscend.purposeofstay.$pristine}">
                                        <label class="control-label" for="presentaddress">Present Address</label>
                                        <div class="controls">
                                            <textarea id="presentaddress" name="presentaddress" class="form-control" required="" ng-model="brgytranscend.presentaddress"></textarea>
                                        </div>
                                        <p ng-show="userForm.presentaddress.$invalid && !userForm.presentaddress.$pristine" class="help-block" style="color: red;"> * Must Enter the Birth Place !</p>
                                    </div> <br />
                                    <div class="control-group" ng-class="{error: brgytranscend.purposeofstay.$invalid && !brgytranscend.purposeofstay.$pristine}">
                                        <label class="control-label" for="purposeofstay">Purpose of Stay</label>
                                        <div class="controls">
                                            <textarea id="purposeofstay" name="purposeofstay" class="form-control" required="" ng-model="brgytranscend.purposeofstay"></textarea>
                                        </div>
                                        <p ng-show="userForm.purposeofstay.$invalid && !userForm.purposeofstay.$pristine" class="help-block" style="color: red;"> * Must Enter the Birth Place !</p>
                                    </div> <br />
                                 </div>
                            </div>
                        </tab>

                        <tab heading="Photo"><br /><br />
                                <div class="row">
                                    <center>
                                        <div class="wrap">
                                            <form>
                                                <label for="first">Webcam</label>
                                                <input id="first" type="radio" name="content" ng-model="brgytranscend.content" value="first">
                                               &nbsp; &nbsp; &nbsp; &nbsp;
                                                <label for="other">Upload Picture</label>
                                                <input id="other" type="radio" name="content" ng-model="brgytranscend.content" value="other">
                                            </form>
                                        </div>
                                    </center>
                                </div>
                                <br>
                                <hr />

                                <div class="row" ng-show="brgytranscend.content== 'first'">
                                    <div class="col-lg-4">
                                        <div class="well pull-left" style="height: 240px; width: 240px;">
                                            <div id="actual_image"></div><br>
                                            <center>
                                                <span ng-if="!brgytranscend.imageuri " class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-camera"></i>
                                                                <span>Click to Capture</span>
                                                                 <input type="submit" ng-click="take_snapshot()">
                                                </span>
                                                <span ng-show="brgytranscend.imageuri" class="btn btn-success fileinput-button">
                                                                <i class="glyphicon glyphicon-camera"></i>
                                                                <span>Change Avatar</span>
                                                                <input type="submit" ng-click="take_snapshot()">
                                                </span>
                                            </center>
                                        </div>
                                    </div>

                                    <div class="col-lg-4"></div>

                                    <div class="col-lg-4">

                                        <div ng-hide="brgytranscend._id" id="capture_image" class="well pull-right"  style="height: 230px; width: 240px; color: green;">
                                               Your captured image will appear here...
                                        </div>
                                        <div class="well pull-right" ng-hide="!brgytranscend._id" style="height: 240px; width: 240px;">
                                               <img id="Hello" src="{{brgytranscend.imageuri}}" ng-model="brgytranscend.imageuri">
                                        </div>

                                    </div>

                                </div>

                                     <!-- Configure a few settings and attach camera -->
                                        <script language="JavaScript">
                                            Webcam.set({
                                                width: 200,
                                                height: 160,
                                                image_format: 'jpeg',
                                                jpeg_quality: 72
                                            });
                                            Webcam.attach( '#actual_image' );
                                        </script>

                                        <!-- A button for taking snaps -->

                                    <div class="row" ng-show="brgytranscend.content == 'other'">

                                        <div class="col-md-6">

                                                       <image-crop
                                                         data-width="200"
                                                         data-height="200"
                                                         data-shape="square"
                                                         data-step="imageCropStep"
                                                         data-result="brgytranscend.imageuri"
                                                         ng-show="showImageCropper = true"
                                                       ></image-crop>
                                                        <p ng-show="brgytranscend.imageuri">Wanna start over? &rarr; <a href="" ng-click="brgytranscend.imageuri = null;imageCropStep=1" class="btn btn-info">Reset</a></p>
                                        </div>
                                        <div class="col-md-6">
                                            <center>
                                                <div ng-show="brgytranscend.imageuri">
                                                     <img ng-src="{{ brgytranscend.imageuri }}" alt="The Cropped Image">
                                                     <p style="color: green;">Actual Profile Picture</p>
                                                     <input type="hidden" class="form-control" ng-model="brgytranscend.imageuri" value="brgytranscend.imageuri" />
                                                </div>
                                           </center>
                                        </div>
                                   </div><br /><br />
                            </tab>
                            <tab heading="Demographic">
                                    <div class="table-responsive">
                                      <table class="table">
                                        <tr>
                                            <th>Name</th>
                                            <th>Relationship</th>
                                            <th>Address</th>
                                            <th><button class="btn btn-success btn-sm " ng-click="addNewChoice()"> Add Fields </button></th>
                                        </tr>
                                        <tr data-ng-repeat="demography in brgytranscend.demography">
                                            <td>
                                             <input type="text" class="form-control" ng-model="demography.demographic_name" />
                                            </td>
                                            <td>
                                             <input type="text" class="form-control" ng-model="demography.demographic_relationship" />
                                            </td>
                                            <td>
                                             <input type="text" class="form-control" ng-model="demography.demographic_address" />
                                            </td>
                                            <td>
                                                <button class="btn btn-danger btn-sm " ng-click="removeChoice(demography)">Remove</button>
                                            </td>
                                        </tr>
                                      </table>
                                    </div>
                            </tab>
                </tabset>

                        <div class="control-group">

  <div class="container">
<a data-html="true" title="<b>Terms &amp; Conditions</b> <br><br> Welcome to our website. If you continue to browse and use this website, you are agreeing to comply with and be bound by the following terms and conditions of use, which together with our privacy policy govern [business name]'s relationship with you in relation to this website. If you disagree with any part of these terms and conditions, please do not use our website." rel='tooltip' data-toggle="tooltip" data-placement="right">Terms &amp; Conditions</a>

<script language="javascript" src="script/app.js">

</script><br>
                            <label class="checkbox inline" for="tnc">
                                <input name="tnc" id="tnc" type="checkbox" ng-model="brgytranscend.tnc" required />Accept
                            </label>
                            <br />
                            <div ng-show="error" class="alert alert-danger col-md-6">{{error}}</div>

                        </div>
                        <br />


         </div>
    </div>
        <div class="panel-footer">

                    <a class="btn btn-warning" ng-click="cancel()"> <span class="glyphicon glyphicon-arrow-left"></span> Cancel</a>
                    <button ng-show="!brgytranscend._id" ng-click="savetranscend()"
                            ng-disabled="!brgytranscend.tnc || myForm.$invalid"
                            class="btn btn-success"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
                    <button ng-click="updatetranscient(brgytranscend._id)"
                            ng-show="brgytranscend._id"
                            class="btn btn-success"> Update <span class="glyphicon glyphicon-floppy-save"></span>
                            </button>
                    <button ng-click="deletetranscient(brgytranscend._id)"
                            ng-show="brgytranscend._id" class="btn btn-danger"> Delete <span class="glyphicon glyphicon-trash"></span> </button>
        </div>
</div>
</form>

<script language="javascript">
$(document).ready(function(){
    $("[rel='tooltip']").tooltip();

    })
</script>
