<div class="panel panel-default">
    <div class="panel-heading">
            <div class="pull-right">
                <button class="btn btn-success btn-sm" ng-click="addnewSitioPurok('lg')"><span class="glyphicon glyphicon-plus-sign" ></span> Add Sitio/Purok </button>
            </div>
            <h4>List of Barangay Sitio/Purok ({{GetAllSitioPuroklist.length}})</h4>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="text-center">
              <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
          </div>
      </div>
      <div class="row">

         <div class="col-md-4" dir-paginate="sitiopurok in GetAllSitioPuroklist | filter:search | itemsPerPage: pageSize" current-page="currentPage">
            <div class="panel panel-warning" >
               <div class="panel-heading">
                  <h3 class="panel-title">{{sitiopurok.sitioPurokname}}</h3>
               </div>
               <div class="panel-body">
                       <div class="row">
                                <div class="col-xs-7">

                                </div>

                                <div class="col-xs-5">

                                </div>
                       </div>

                       <div class="row">

                       </div>
               </div>
               <div class="panel-footer text-center">

                    <a ng-click="EditSitioPurok('lg', sitiopurok._id)" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> edit </a>

               </div>
            </div>
          </div>
        </div>
    </div>
</div>