<div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>

                <a ng-href="" ng-click="addusers('lg')" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New User</a>

         <div ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'">
           <h2>Baranggay {{UserAcount.barangay.barangay_name}} user List</h2>
         </div>
         <div ng-if="UserAcount.accesscontrol === 'provincecontrol'">
           <h2>Province of {{UserAcount.province.province_name}} municipality account list</h2>
         </div>
         <div ng-if="UserAcount.accesscontrol ==='regionadmin'">
           <h2>Account List</h2>
         </div>

         <div ng-if="UserAcount.accesscontrol ==='municipalitycontrol'">
           <h2>{{UserAcount.municipality.municipality_name}} Baranggay Account List</h2>
         </div>
        <p ng-if="UserAcount.accesscontrol ==='municipalitycontrol'" ng-show="people === 0 && account_count !== 0">Opps! No record created yet. Login your barangay account to add new records.</p>
        </div>
        <div class="panel-body">


              <div class="well">
                    <tabset justified="true">
                        <tab heading="Province Account" ng-if="UserAcount.accesscontrol === 'regionadmin'"><br />
                          <div class="text-center">
                              <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                          </div>
                            <div class="row">
                               <div class="table-responsive">
                                      <table class="table">
                                      <tr>
                                          <th>Province</th>
                                          <th>Username</th>
                                          <th>Created By</th>
                                          <th>Updated By</th>
                                          <th>Role</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                      <tr dir-paginate="account in province_account | filter:search | itemsPerPage: pageSize" current-page="currentPage">

                                          <td> {{account.province.province_name}}</td>
                                          <td>{{account.username}}</td>
                                          <td> {{account.createdbyadmin}}</td>
                                          <td> {{account.updateby}}</td>
                                          <td> {{account.role}}</td>
                                          <td>{{account.active}}</td>
                                          <td>

                                            <a href="" class="btn btn-sm btn-warning" ng-click="deactivate(account._id, account.active, account.accesscontrol)"><span class="glyphicon glyphicon-edit"></span> {{account.active_caption}} </a>
                                            <a href="" class="btn btn-sm btn-success" ng-click="Editprovince('lg', account._id)"><span class="glyphicon glyphicon-edit"></span> Edit </a>

                                          </td>
                                      </tr>

                                      </table>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Municipality Account" ng-if="UserAcount.accesscontrol === 'regionadmin' || UserAcount.accesscontrol === 'provincecontrol'"><br />
                            <div class="row">
                              <h3>Personnel</h3>
                                  <div class="table-responsive">
                                      <table class="table">
                                      <tr>
                                          <th>Municipality</th>
                                          <th>Username</th>
                                          <th>Created By</th>
                                          <th>Updated By</th>
                                          <th>Role</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                      <tr dir-paginate="municipalaccount in municipalaccounts | filter:search | itemsPerPage: pageSize" current-page="currentPage">

                                          <td> {{municipalaccount.municipality.municipality_name}}</td>
                                          <td> {{municipalaccount.username}}</td>
                                          <td> {{municipalaccount.createdbyadmin}}</td>
                                          <td> {{municipalaccount.updateby}}</td>
                                          <td> {{municipalaccount.role}}</td>
                                          <td> {{municipalaccount.active}}</td>
                                          <td>

                                            <a href="" class="btn btn-sm btn-warning" ng-click="deactivate(municipalaccount._id, municipalaccount.active, municipalaccount.accesscontrol)"><span class="glyphicon glyphicon-edit"></span> {{municipalaccount.active_caption}} </a>
                                            <a href="" class="btn btn-sm btn-success" ng-click="editmunicipal('lg', municipalaccount._id)"><span class="glyphicon glyphicon-edit"></span> Edit </a>

                                          </td>
                                      </tr>

                                      </table>
                                </div>
                            </div>
                        </tab>
                        <tab heading="Barangay Account" ng-if="UserAcount.accesscontrol === 'regionadmin' || UserAcount.accesscontrol === 'provincecontrol' || UserAcount.accesscontrol === 'municipalitycontrol'"><br />
                            <div class="row">
                               <div class="table-responsive">
                                      <table class="table">
                                      <tr>
                                          <th>Barangay</th>
                                          <th>Username</th>
                                          <th>Created By</th>
                                          <th>Updated By</th>
                                          <th>Role</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                      <tr dir-paginate="barangayaccount in barangayaccounts | filter:search | itemsPerPage: pageSize" current-page="currentPage">

                                          <td> {{barangayaccount.barangay.barangay_name}}</td>
                                          <td> {{barangayaccount.username}}</td>
                                          <td> {{barangayaccount.createdbyadmin}}</td>
                                          <td> {{barangayaccount.updateby}}</td>
                                          <td> {{barangayaccount.role}}</td>
                                          <td> {{barangayaccount.active}}</td>
                                          <td>

                                            <a href="" class="btn btn-sm btn-warning" ng-click="deactivate(barangayaccount._id, barangayaccount.active, barangayaccount.accesscontrol)"><span class="glyphicon glyphicon-edit"></span> {{barangayaccount.active_caption}} </a>
                                            <a href="" class="btn btn-sm btn-success" ng-click="editbarangay('lg', barangayaccount._id)"><span class="glyphicon glyphicon-edit"></span> Edit </a>

                                          </td>
                                      </tr>

                                      </table>
                                </div>
                            </div>

                        </tab>
                    </tabset>
              </div>
        </div>
</div>