  <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="/">×</a>
                </div>
                  <h2>{{myaccount}}</h2>
        </div>
        <div class="panel-body">

                   <form name="userForm" class="form-inline">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-4">
                                
                                <div class="form-group" ng-class="{error: userForm.username.$invalid && !userForm.username.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="username">Username</label>
                                            <input id="username" class="form-control" ng-disabled="true" name="username" ng-model="account.username" type="text" required="" />
                                    </div>
                                </div><br /><br />
                                
                                <div class="form-group" ng-class="{error: userForm.pswrd.$invalid && !userForm.pswrd.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="pswrd">Password</label>
                                            <input id="pswrd" class="form-control" ng-disabled="true" name="pswrd" ng-model="account.pswrd" type="password" required="" />
                                    </div>
                                </div><br /><br />
                            
              
                           </div>
                           <div class="col-lg-4">

                             <div class="form-group" ng-class="{error: userForm.barangay.$invalid && !userForm.barangay.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="barangay">Assigned Barangay</label>
                                            <input id="barangay" class="form-control" ng-disabled="true" name="barangay" ng-model="account.barangay" type="text" required="" />
                                    </div>
                                </div>

                            </div>  <br />

                        
                   
            
                        <br>
                       
                  <div>
            </div>
        
        </div>
        <div class="row">
            
                            <div class="control-group">
                                <label for="tnc">Term &amp; Condition</label><br>
                                <label class="checkbox inline" for="tnc">
                                    <input name="tnc" class="form-control" id="tnc" type="checkbox" ng-model="account.tnc" required />Accept
                                </label>
                            </div>
        </div>

       </div>      
    </div> 

     <div class="panel-footer">
                   <a href="/resident" class="btn btn-warning">Cancel</a>
                      <!--   <button ng-click="save()" ng-disabled="!account.tnc || myForm.$invalid"
                                class="btn btn-primary" ng-hide="account.accesscontrol === 'barangayaccesscontrol'">Save</button>
                        <button ng-click="delete()"
                                ng-show="account._id" ng-hide="account.accesscontrol === 'municipalitycontrol'" class="btn btn-danger">Deactivate</button> -->
                      </form>
        </div> 
</div>          