  <div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
                <div class="pull-right">
                     <a href="/">×</a>
                </div>
                  <h2>Admin Region</h2>
        </div>
        <div class="panel-body">

                   <form name="userForm" class="form-inline">
                    <div class="well">
                        <div class="row">
                            <div class="col-lg-4">
                                
                                <div class="form-group" ng-class="{error: account.username.$invalid && !account.username.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="username">Username</label>
                                            <input id="username" ng-disabled="true" class="form-control" name="username" ng-model="account.username" type="text" required="" />
                                    </div>
                                </div><br /><br />
                                
                                <div class="form-group" ng-class="{error: account.pswrd.$invalid && !account.pswrd.$pristine}">
                                    <div class="col-xs-7">
                                        <label for="pswrd">Password</label>
                                            <input id="pswrd" ng-disabled="true" class="form-control" name="pswrd" ng-model="account.pswrd" type="password" required="" />
                                    </div>
                                </div><br /><br />
                            
              
                           </div>
                  
                                   <div class="col-lg-4" ng-if="account.access === 'administrator'">
                                    <div class="control-group">
                                        <label class="control-label" for="region">Select Region:</label>
                                        <div class="controls">
                                             <select class="form-control" ng-disabled="true" id="region" ng-model="account.region" ng-options="country for country in region">
                                             <option value=''>Select Region</option> </select>
                                        </div>
                                    </div><br />
                                    
                                    <div class="control-group">
                                        <label class="control-label" for="province">Select Province:</label>
                                        <div class="controls">
                                              <select class="form-control" ng-disabled="true" id="province" ng-model="account.province" ng-options="province for province in province">
                                              <option value=''>Select Province</option></select>
                                        </div>
                                    </div><br />

                        <br>
                       
                  <div>
            </div>
        
        </div>
        <div class="row">
            

                  
       </div>  
        </div>
 

    </div> 
      
     <div class="panel-footer">
                   <a href="/user" class="btn btn-warning">Back</a>
                        <button ng-click="save()" ng-disabled="!account.tnc || myForm.$invalid"
                                class="btn btn-primary" ng-hide="account.access === 'administrator'">Save</button>
                        <!-- <button ng-click="delete()"
                                ng-show="account._id" ng-if="account.access === 'administrator'" class="btn btn-danger">Deactivate</button> -->
                      </form>
        </div> 
</div>          