<div class="panel panel-success">
    <div class="panel-heading">
        <h4 class="text-center">BARANGAY <span id="barangay-name-span">{{UserAcount.barangay.barangay_name | uppercase}}</span> SURVEY AS OF <span id="sYear-span">{{SYear}}</span></h4>
    </div>
    <div class="panel-body">
                <div class="well">

                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h4>{{sitiopurok.sitioPurokname | uppercase}}</h4>
                        </div>
                        <div class="panel-body">
                           <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <tbody>

                                        <tr ng-repeat="head in surveyhead" >
                                            <th>{{head.SurveyHead | uppercase}}
                                            </th>
                                            <td class="alert alert-success text-center" >{{getgeneraltotal(head.indicator).length}}</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">TOTAL NUMBER OF CHILDREN (0-79 MONTHS OLD)</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in getchild | groupBy: 'prof_sitio'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{getchild.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>


                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">TOTAL NUMBER OF PWD's</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in epwd | groupBy: 'prof_sitio'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{epwd.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">TOTAL NUMBER OF FAMILIES W/OUT C.R.</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in ecr | groupBy: 'brgy_Sitiopurok'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{ecr.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">TOTAL NUMBER OF FAMILIES W/OUT WATER </h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in eWater | groupBy: 'brgy_Sitiopurok'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{eWater.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">TOTAL NUMBER OF FAMILIES W/OUT ELECTRICITY </h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in eElectricity | groupBy: 'brgy_Sitiopurok'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{eElectricity.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">TOTAL NUMBER OF ELDERLY/SENIOR CITIZEN</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in seniorcitizen | groupBy: 'prof_sitio'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{seniorcitizen.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">TOTAL NUMBER OF FAMILIES</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in allfamiies | groupBy: 'brgy_Sitiopurok'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{allfamiies.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">EMPLOYED</h4>
                            </div>
                            <div class="panel-body">
                              <div class="table-responsive">
                                    <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th><h4 class="text-center">TOTAL NUMBER OF GOVERNMENT EMPLOYED</h4>
                                                   <table class="table table-bordered table-hover table-striped">
                                                        <tbody>
                                                        <tr>
                                                            <th class="text-center">Sitio/Purok</th>
                                                            <th class="text-center">TOTAL</th>
                                                        </tr>
                                                        <tr ng-repeat="(key, value) in eGovernment | groupBy: 'prof_sitio'">
                                                               <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                               <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th>TOTAL : </th>
                                                            <th class="text-center"><span >{{eGovernment.length}}</span></th>
                                                        </tr>
                                                        </tbody>
                                                   </table>
                                                </td>
                                         </tr>
                                         <tr>
                                                <th><h4 class="text-center">TOTAL NUMBER OF PRIVATE EMPLOYED</h4>
                                                   <table class="table table-bordered table-hover table-striped">
                                                        <tbody>
                                                        <tr>
                                                            <th class="text-center">Sitio/Purok</th>
                                                            <th class="text-center">TOTAL</th>
                                                        </tr>
                                                        <tr ng-repeat="(key, value) in ePrivate | groupBy: 'prof_sitio'">
                                                               <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                               <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                                        </tr>
                                                        <tr>
                                                            <th>TOTAL : </th>
                                                            <th class="text-center"><span >{{ePrivate.length}}</span></th>
                                                        </tr>
                                                        </tbody>
                                                   </table>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">SELF-EMPLOYED</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in eSelfEmployed | groupBy: 'prof_sitio'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{eSelfEmployed.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">UNEMPLOYED</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in eUnemployed | groupBy: 'prof_sitio'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{eUnemployed.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">OUT OF SCHOOL YOUTH</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in eOutofSchoolYouth | groupBy: 'prof_sitio'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{eOutofSchoolYouth.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">RETIRED</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in eRetired | groupBy: 'prof_sitio'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th id="{{sitiopurok._id}}" class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{eRetired.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="well">

                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h4 class="text-center">Establishments</h4>
                            </div>
                            <div class="panel-body">

                                   <table class="table table-bordered table-hover table-striped">
                                        <tbody>
                                            <tr>
                                                <th class="text-center">Sitio/Purok</th>
                                                <th class="text-center">TOTAL</th>
                                            </tr>
                                            <tr ng-repeat="(key, value) in getallestablishment | groupBy: 'business_address'">
                                                   <th class="alert alert-info">Purok  {{getresidentname(key)}}</th>
                                                   <th class="alert alert-success text-center" >{{value.length}}</th>
                                            </tr>
                                            <tr>
                                                <th>TOTAL : </th>
                                                <th class="text-center"><span >{{getallestablishment.length}}</span></th>
                                            </tr>
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <a ng-if="UserAcount._id" ng-click="generateGeneralSurvey()" class="btn btn-primary pull-right"><span class="glyphicon glyphicon-circle-arrow-down"></span> Generate PDF</a>

         </div>
    </div>

</div>