<div class="panel panel-default">
  <div class="panel-body">

    <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of the Region&hellip;" />

    <br>
    <accordion close-others="oneAtATime">
        <accordion-group is-open="status.open" ng-repeat="barangay in showbarangays | filter:search">

            <accordion-heading>
                <a href="#"  ng-click="getbarangaylistresident(barangay._id, barangay.barangay_name)">{{barangay.barangay_name}}</a>
                <i class="pull-right glyphicon" ng-click="getbarangaylistresident(barangay._id, barangay.barangay_name)" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
            </accordion-heading>
                  <hr>
                  <input type="text" ng-model="residentsearch" class="form-control search-query" placeholder="Search the Name of the Region&hellip;" />

              <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div>
               <div class="table-responsive">
                              <table class="table">
                              <tr>
                                  <th>Full Name</th>
                                  <th>Barangay</th>
                                  <th>Municipality/City</th>
                                  <th>Province</th>
                                  <th>Action</th>
                              </tr>
                              <tr dir-paginate="residentprof in getresidentregion | filter:residentsearch | itemsPerPage: pageSize" current-page="currentPage">

                                  <td>{{residentprof.fullname}}</td>
                                  <td>{{residentprof.barangay.barangay_name}}</td>
                                  <td>{{residentprof.municipality.municipality_name}}</td>
                                  <td>{{residentprof.province.province_name}}</td>
                                  <td>
                                  <a ng-click="viewresidentprofile('lg', residentprof._id)" class="btn btn-default btn-sm">
                                  <span class="glyphicon glyphicon-refresh" ></span> View Profile </a>
                                  </td>
                              </tr>

                              </table>
                      </div>
        </accordion-group>
      </accordion>
  </div>
</div>
</div>