<div class="panel panel-heading">
    <div class="panel-heading">
        <div class="pull-right">
             <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
        </div>
    <h4>Family Member's of {{getheadname}}</h4>
    </div>
    <div class="panel-body">
    <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open" ng-repeat="member in members | filter:search">

                <accordion-heading>
                    <a href="#" >{{member.fullname}}</a>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                </accordion-heading>
                   <div class="table-responsive">
    Status : {{member.prof_status}} <br>
    Birthdate: {{member.b_date | date}} <br>
    Relationship: {{member.relationtype.relationtype}}
                   </div>
            </accordion-group>
          </accordion>

    </div>
</div>
