
<div class="row">
<div class="jumbotron">

        <h3>Hello, Welcome to BeSTgret (Barangay e-Systems and Tools)</h3>
        <p>The Barangay e-Systems and Tools (BeST) is an ICT Tool to provide thecommunity with a complete and easy to use computer hardware andsoftware solutions for planning, monitoring and document generation of the barangay. It empowers the officials with an information system to help manage the day to day. activities.
</p>
        <p><a ng-click="login_modal('md')" class="btn btn-primary btn-md" href="" role="button">Click here to login &raquo;</a></p>

</div>

    <div class="row">
      <!-- Example row of columns -->
        <div class="col-md-4">
          <h2>Judicial</h2>
          <p>
The Judicial Management system monitors Lupon cases and gives up to
date status of the barangay complaints.
          <p><a ng-click="login_modal('md')" class="btn btn-default" href="" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Account</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a ng-click="login_modal('md')" class="btn btn-default" href="" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Resident</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a ng-click="login_modal('md')" class="btn btn-default" href="" role="button">View details &raquo;</a></p>
        </div>
      </div>

    </div>

</div>

