
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="pull-right">
            <a ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'"
            ng-click="addnewhousehold('lg')" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-plus-sign" ></span> Add New </a>
        </div>
    <h4>House Hold List [{{allhousehold.length}}]</h4>
    </div>
    <div class="panel-body">
        <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of a person&hellip;" />
    <hr>
    <div class="pull-right">
         <button ng-hide="pagehide == 1" ng-class="{ disabled : prevdisable == 1 }" class="btn btn-sm btn-success" ng-click="previouspage(page - 1, allhousehold.length)"><span class="glyphicon glyphicon-chevron-left" ></span></button>
         <button ng-hide="pagehide == 1" ng-class="{disabled : nextdisable == 1}" class="btn btn-sm btn-success" ng-click="nextpage(page + 1, allhousehold.length)"><span class="glyphicon glyphicon-chevron-right" ></span> </button>
    </div><br><br>
    <accordion close-others="oneAtATime">
            <accordion-group is-open="status.open" ng-repeat="household in getlimithousehold | filter:search">
                <accordion-heading>
                    <a href="#" >{{gethouseheadname(household.headmember)}}</a>
                    <div class="pull-right" >
                        <a href="#" ng-click="edithousehold('lg', household._id)" ng-show="UserAcount.accesscontrol === 'barangayaccesscontrol'"> <span class="glyphicon glyphicon-edit"></span> Edit </a>&hellip;&hellip;
                        <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </div>

                </accordion-heading>
                   <div class="table-responsive">
                       <div class="well">
                            <strong>House Hold Head : </strong><a href="#" ng-click="viewmember('lg', getresidentId(household.headmember))"> {{gethouseheadname(household.headmember)}} </a>
                        </div>

                        <table class="table">
                        <tr>
                            <th>Name</th>
                            <th>Relationship</th>
                            <th>Action</th>
                        </tr>
                        <tr ng-repeat="residentmember in household.groupmember">
                            <td>{{getresidentname(residentmember.demographic_name)}}</td>
                            <td>{{residentmember.demographic_relationship}}</td>
                            <td>
                            <button class="btn btn-info btn-sm" ng-click="viewmember('lg', getresidentId(residentmember.demographic_name))">view</button>
                            </td>
                        </tr>
                        </table>
                   </div>
            </accordion-group>
          </accordion>
    </div>
</div>