<input type="text" class="form-control input-sm" ng-model="model" ng-keydown="selected=false"/><br/>
<div class="items" ng-hide="!model.length || selected">
    <div class="item" ng-repeat="resident in getlimitresident | filter:model  track by $index" style="cursor:pointer">
        <p class="title">{{resident.fullname}}</p>
    </div>
</div>