<input type="text" class="form-control input-sm" ng-model="model" placeholder="{{prompt}}" ng-keydown="selected=false"/><br/>
<div class="items" ng-hide="!model.length || selected">
    <div class="item" ng-repeat="item in items | filter:model  track by $index" ng-click="handleSelection(item[title])" style="cursor:pointer" ng-class="{activeselected:isCurrent($index)}" ng-mouseenter="setCurrent($index)">
        <p class="title">{{item[title]}}</p>
        <p class="subtitle">Birth Date: {{item[subtitle] | date}}</p>
    </div>
</div>