<!DOCTYPE html>
<html ng-app="brgyapp">
<head>
  <title ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'">Barangay of {{UserAcount.barangay.barangay_name}}</title>
  <title ng-if="UserAcount.accesscontrol === 'Viewer'">{{UserAcount.username}} as Viewer</title>
  <title ng-if="UserAcount.accesscontrol === 'officialaccesscontrol'">{{UserAcount.username}} as Viewer</title>
  <title ng-if="UserAcount.accesscontrol === 'regionadmin'">{{UserAcount.access}} Account</title>
  <title ng-if="UserAcount.accesscontrol === 'municipalitycontrol'">Municipality of {{UserAcount.municipality.municipality_name}}</title>
  <title ng-if="UserAcount.accesscontrol === 'provincecontrol'">Province of {{UserAcount.province.province_name}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
  <base href="/">
  <link href="cycle.png" rel="icon">
  <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="vendor/js/JsBarcode.all.min.js"></script>
  <script type="text/javascript" src="bower_components/qr/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/qr/date.js"></script>
  <script type="text/javascript" src="bower_components/qr-js/qr.js"></script>

  <script type="text/javascript" src="bower_components/js/angular-file-upload-shim.js"></script>
  <script type="text/javascript" src="bower_components/webcam/webcam.js"></script>
  <script src='bower_components/jspdf/libs/png_support/zlib.js' type='text/javascript'></script>
  <script src='bower_components/jspdf/libs/png_support/png.js' type='text/javascript'></script>

  <script src='bower_components/jspdf/libs/deflate.js' type='text/javascript'></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.all.min.js"></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.addimage.js"></script>
  <script type="text/javascript" src="bower_components/jspdf/jspdf.plugin.png_support.js"></script>
  <script type="text/javascript" src="vendor/jspdf.plugin.table.js"></script>
  <script type="text/javascript" src="vendor/jspdf.debug.js"></script>
  <script type="text/javascript" src="vendor/jspdf.plugin.autotable.js"></script>

  <script type="text/javascript" src="bower_components/qr-js/qr.js"></script>
  <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-timepicker/css/bootstrap-timepicker.min.css">
  <link ng-if="!UserAcount" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/paper.min.css">
  <link ng-if="UserAcount.accesscontrol === 'Viewer'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/paper.min.css">
  <link ng-if="UserAcount.accesscontrol === 'municipalitycontrol'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/{{UserAcount.themes}}.min.css">
  <link ng-if="UserAcount.accesscontrol === 'provincecontrol'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/{{UserAcount.themes}}.min.css">
  <link ng-if="UserAcount.accesscontrol === 'regionadmin'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/{{UserAcount.themes}}.min.css">
  <link ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/{{UserAcount.themes}}.min.css">
  <link ng-if="UserAcount.accesscontrol === 'officialaccesscontrol'" rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/paper.min.css">

  <link rel="stylesheet" type="text/css" href="vendor/css/image.css" />
  <link rel="stylesheet" type="text/css" href="vendor/css/style.css" />
  <link rel="stylesheet" type="text/css" href="vendor/js/ng-tags-input.min.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="bower_components/jquery-timepicker-jt/jquery.timepicker.css" />

  <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/bower_components/qrcode-generator/js/qrcode.js"></script>
  <script type="text/javascript" src="bower_components/angular-qrcode/bower_components/qrcode-generator/js/qrcode_UTF8.js"></script>
  <script type="text/javascript" src="bower_components/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
  <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
  <script type="text/javascript" src="bower_components/ui-select/dist/select.min.js"></script>
  <link rel="stylesheet" type="text/css" href="bower_components/ui-select/dist/select.min.css">
  <link rel="stylesheet" type="text/css" href="bower_components/select2-3.4.5/select2.css">
  <link rel="stylesheet" type="text/css" href="bower_components/angular-loading-bar/src/loading-bar.css">
  <script src="vendor/js/ng-tags-input.min.js"></script>
 <script src="vendor/js/jquery.popupoverlay.js"></script>

  <script type="text/javascript" src="directives/cropdirective.js"></script>

</head>
<body>

    <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
            </button>
                 <div class="navbar-header">
                  <a class="navbar-brand"><img ng-src="favicon.png" width="140" height="30"></a>
                  </div>
            </div>
            <!-- Collection of nav links and other content for toggling -->
            <div id="navbarCollapse" class="collapse navbar-collapse" ng-controller="navbarCtrl">
                <ul class="nav navbar-nav">
                    <li><a ng-hide="!UserAcount || errornotoken" href="/home"><span class="glyphicon glyphicon-home"></span> </a></li>
                    <li><a ng-hide="!UserAcount || errornotoken" href="/judicial"> Judicial <span class="glyphicon glyphicon-tasks"> </span></a></li>
                    <li><a ng-hide="!UserAcount || errornotoken" href="/resident"> Resident <span class="glyphicon glyphicon-user"> </span></a></li>
                    <li><a ng-hide="!UserAcount || errornotoken" href="/businesspermit"> Business <span class="glyphicon glyphicon-user"> </span></a></li>
                    <!-- <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol' || UserAcount.accesscontrol === 'officialaccesscontrol'"><a ng-hide="!UserAcount || errornotoken" href="/viewreport/{{UserAcount.barangay._id}}">View Report <span class="glyphicon glyphicon-inbox "></span></a></li> -->


                </ul>

                <form class="navbar-form navbar-left">

                    <input type="text" class="form-control"  ng-model="qrvalue" placeholder="Enter the QR value here">

                  </form>

                  <!-- ng-show-auth="login" -->
                  <ul class="nav navbar-nav navbar-right"  >
                   <li ng-if="!UserAcount"><a href="" ng-click="login_modal('md')"> Login </a></li>
                      <li ng-if="UserAcount.imageuri">
                        <img ng-src="{{UserAcount.imageuri}}" id="navsize" class="img-circle">
                      </li>
                    <li ng-if="UserAcount.accesscontrol === 'municipalitycontrol'" class="navbar-text"><span class="label label-danger">Total of barangay: {{count_brgy}}</span></li>
                    <li ng-show="error" class="navbar-text" style="color: white;">{{error}}</li>
                   <!-- birthdays' notification -->
                    <li ng-hide="!UserAcount || errornotoken" class="dropdown">
                     <a ng-hide="!residentBirthdays.length" class="dropdown-toggle js-activated" href="#"><span class="glyphicon glyphicon-bell"></span> Today's Birthdays </a>
                     <ul class="dropdown-menu">
                      <li ng-if="residentBirthdays" ng-repeat="birthtoday in residentBirthdays">
                        <a href="#" ng-click="viewbirthday('md', birthtoday._id)">
                        <span class="glyphicon glyphicon-calendar"> </span> {{birthtoday.fullname}} <br>
                        <span>{{get_age(birthtoday.b_date)}} years old</span>
                        </a>

                      </li>
                     </ul>
                    </li>

                    <li ng-hide="!UserAcount || errornotoken" class="dropdown">
                      <a class="dropdown-toggle js-activated" href="#">  <span class="glyphicon glyphicon-collapse-down"></span></a>
                      <ul class="dropdown-menu">
                      <!-- <li ng-hide="!UserAcount || errornotoken" class="navbar-text"><span ng-if="!UserAcount.imageuri"class="glyphicon glyphicon-user"> {{UserAcount.username}} </li> -->
                      <!-- myaccount/{{UserAcount._id}} -->
                        <li ng-if="UserAcount.accesscontrol === 'municipalitycontrol'"><a href="" ng-click="account_modal('lg', UserAcount._id, UserAcount.accesscontrol)"> <span class="glyphicon glyphicon-user"> </span>  {{UserAcount.username}} </a></li>
                        <!-- regionadmin/{{UserAcount._id}} -->
                         <li ng-if="UserAcount.accesscontrol === 'regionadmin'"><a href="" ng-click="account_modal('lg', UserAcount._id, UserAcount.accesscontrol)"> <span class="glyphicon glyphicon-user"> </span>  {{UserAcount.username}} </a></li>
                         <li ng-if="UserAcount.accesscontrol === 'provincecontrol'"><a href="" ng-click="account_modal('lg', UserAcount._id, UserAcount.accesscontrol)"> <span class="glyphicon glyphicon-user"> </span> {{UserAcount.username}}  </a></li>
                         <!-- useraccount/{{UserAcount._id}} -->
                        <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="" ng-click="account_modal('lg', UserAcount._id, UserAcount.accesscontrol)"> <span class="glyphicon glyphicon-user"> </span> {{UserAcount.username}}</a></li>
                        <!-- <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="" ng-click="officials_modal('lg', UserAcount._id, UserAcount.barangay)"> <span class="glyphicon glyphicon-user"> </span> Manage Officials</a></li> -->
                        <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="/officialsaccountlist" > <span class="glyphicon glyphicon-user"> </span> Manage Officials</a></li>
                         <li ng-if="UserAcount.accesscontrol === 'barangayaccesscontrol'"><a href="/official-account" > <span class="glyphicon glyphicon-user"> </span> Official's Account</a></li>
                        <li ng-if="UserAcount.accesscontrol === 'provincecontrol' || UserAcount.accesscontrol === 'regionadmin' || UserAcount.accesscontrol === 'municipalitycontrol'" ><a href="/user"> <span class="glyphicon glyphicon-user"> </span> Manage Account</a></li>
                        <li ng-if="UserAcount.accesscontrol === 'regionadmin' " ><a href="/region"> <span class="glyphicon glyphicon-globe"> </span> Manage Region </a></li>
                       <!--  <li ng-if="residentBirthdays"><a href="#"><span class="glyphicon glyphicon-calendar"> </span> Upcoming birthdays </a></li> -->

                        <li class="divider"></li>
                        <li ng-include src="'logout.html'"></li>

                      </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   <br>
   <br>
   <br>
   <br>

             <div class="container">

                 <div ng-view="">

                 </div>

                <br>

             </div>
  <div class="row">
                             <hr>
                   <footer>
                      <p class="text-center">&copy; Cvisnet 2015</p>
                    </footer>
                </div>

    </div>


   <script type="text/javascript" src="bower_components/ng-table/ng-table.js"></script>
   <script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-cookies/angular-cookies.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-resource/angular-resource.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-messages/angular-messages.min.js"></script>
   <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
   <script type="text/javascript" src="bootstrap-hover-dropdown.js"></script>

   <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
   <script type="text/javascript" src="bower_components/jquery-timepicker-jt/jquery.timepicker.js"></script>
   <script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
   <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
   <script type="text/javascript" src="bower_components/checklist-model/checklist-model.js"></script>
  <script type="text/javascript" src="bower_components/angular-loading-bar/src/loading-bar.js"></script>

   <script type="text/javascript" src="bower_components/ngupload/ng-upload.min.js"></script>
   <script type="text/javascript" src="bower_components/js/angular-file-upload.min.js"></script>


   <script type="text/javascript" src="vendor/underscore.js"></script>
   <script type="text/javascript" src="vendor/restangular.js"></script>

   <script type="text/javascript" src="script/app.js"></script>
   <script type="text/javascript" src="factory/userfactory.js"></script>
   <script type="text/javascript" src="factory/brgyOfficials.js"></script>
   <script type="text/javascript" src="factory/radiobtn_checkbox_Services.js"></script>
   <script type="text/javascript" src="factory/baranggayFactory.js"></script>
   <script type="text/javascript" src="factory/taxFactory.js"></script>
   <script type="text/javascript" src="factory/BrgyResidentServices.js"></script>
   <script type="text/javascript" src="factory/reportServices.js"></script>
   <script type="text/javascript" src="factory/currentUser.js"></script>
   <script type="text/javascript" src="factory/contactFactory.js"></script>
   <script type="text/javascript" src="factory/businessServices.js"></script>
   <script type="text/javascript" src="controller/regionsCtrl.js"></script>
   <script type="text/javascript" src="controller/officialsAccountCtrl.js"></script>
   <script type="text/javascript" src="controller/reportCtrl.js"></script>
   <script type="text/javascript" src="controller/provinceCtrl.js"></script>
   <script type="text/javascript" src="controller/navbarCtrl.js"></script>
   <script type="text/javascript" src="controller/clearanceCtrl.js"></script>
   <script type="text/javascript" src="controller/loginCtrl.js"></script>
   <script type="text/javascript" src="controller/generatebrgyIDS.js"></script>
   <script type="text/javascript" src="controller/registerCtrl.js"></script>
   <script type="text/javascript" src="controller/judicialCtrl.js"></script>
   <script type="text/javascript" src="controller/residentCtrl.js"></script>
   <script type="text/javascript" src="controller/businesspermitCtrl.js"></script>
   <script type="text/javascript" src="directives/directives.js"></script>
   <script type="text/javascript" src="directives/dirPagination.js"></script>
   <!-- // <script type="text/javascript" src="directives/timepickerdirectives.js"></script> -->
   <script type="text/javascript" src="filters/filters.js"></script>
   <script type="text/javascript" src="vendor/timepickerdirective.js"></script>


    <script>
    $(document).ready(function () {

      var trigger = $('.hamburger'),
          overlay = $('.overlay'),
         isClosed = false;

        trigger.click(function () {
          hamburger_cross();
        });

        function hamburger_cross() {

          if (isClosed == true) {
            overlay.hide();
            trigger.removeClass('is-open');
            trigger.addClass('is-closed');
            isClosed = false;
          } else {
            overlay.show();
            trigger.removeClass('is-closed');
            trigger.addClass('is-open');
            isClosed = true;
          }
      }

  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });
});
    // very simple to use!
    $(document).ready(function() {
      $('.js-activated').dropdownHover().dropdown();
    });
  </script>

</body>
</html>
