<form name="officialsform" novalidate>
<div class="panel panel-default">
        <div class="panel-heading">
              <div class="pull-right">
                   <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
              </div>
          <div class="container">

              <h2>Official Form</h2>
              <div class="row">



              </div>

          </div>

        </div>
        <div class="panel-body">
              <div class="row">

                  <div class="text-center">
                       <div ng-if="searchresponse.status == true" class="alert alert-danger text-center">
                            <p class="text-center">{{searchresponse.message}}</p>
                       </div>
                  </div>

              </div>
              <div class="row">

              </div>
              <div class="row">

                      <div class="col-md-4">
                        <input type="number" placeholder="Year Elected" class="form-control" ng-model="brgyofficers.yearElected" />
                      </div>

                      <div class="col-md-6">
                          <input type="text" placeholder="Search officials name (Firstname Middlename Lastname)" class="form-control" ng-model="searchofficials">
                      </div>

                      <div class="col-md-2">
                          <button class="btn btn-md btn-info" ng-click="getthesearchresult(searchofficials)">Search</button>
                      </div>

              </div>
              <div class="row" ng-show="showsearchdiv === 1">
                <br>

                <br>
                  <p class="text-center" ng-hide="searchresponse.status == false" >no result of the search text found.</p>
                  <div class="well col-md-6">
                        <div class="list-group">
                                <a href="#" class="list-group-item"
                                  ng-repeat="thisofficials in data" id="{{seachresult._id}}">
                                  {{thisofficials.fullname}} <span class="badge" ng-click="removethisofficial($index, thisofficials._id)">x</span>
                                </a>
                        </div>
                  </div>
                  <div class="col-md-6" ng-if="resultsearchfound.status == true">
                      <div class="panel panel-info">
                            <div class="panel-heading">

                                    <div class="pull-right">
                                         <button ng-hide="pagehide == 1" ng-class="{disabled : prevdisable == 1 }" class="btn btn-sm btn-success" ng-click="previouspagelimit(pagenow - 1)"><span class="glyphicon glyphicon-chevron-left" ></ssspan></button>
                                         <button ng-hide="pagehide == 1" ng-class="{disabled : nextdisable == 1}" class="btn btn-sm btn-success" ng-click="nextpagelimit(pagenow + 1)"><span class="glyphicon glyphicon-chevron-right" ></span> </button>
                                    <br>
                                    </div>
                                  <span class="glyphicon glyphicon-camera"></span> Search Result <span class="badge"> {{resultsearchfound.resdata.length}} </span>
                                  <br>

                            </div>
                            <div class="panel-body">

                              <div class="list-group">

                                  <a href="#" ng-class="{active : bool == true}" class="list-group-item"
                                  ng-repeat="seachresult in resultsearchfound.resdata" id="{{seachresult._id}}"
                                  ng-click="selectthisitem(data, seachresult, seachresult._id)">
                                  {{seachresult.fullname}} <span class="badge">view</span>
                                  </a>

                              </div>

                            </div>

                      </div>


                  </div>

                <br>

              </div>

        </div>
        <div class="panel-footer">

              <button ng-hide="brgyofficers._id" class="btn btn-success btn-sm" ng-click="createbrgyofficials()"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
              <button ng-show="brgyofficers._id" class="btn btn-success btn-sm" ng-click="updateofficial(brgyofficers._id)"> Update <span class="glyphicon glyphicon-floppy-save"></span> </button>
              <button ng-show="brgyofficers._id" class="btn btn-danger btn-sm" ng-click="deleteofficials(brgyofficers._id)"> <span class="glyphicon glyphicon-trash"></span> </button>

        </div>

    </div>
</form>


         <!--      <br>
                <div class="row">
                    <div class="col-md-4">

                            <label for="captainofficer">Captain:</label>
                             <ui-select ng-model="brgyofficers.captainofficer" theme="select2" name="captainofficer" id="captainofficer" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="captainofficer._id+', '+captainofficer.fullname as captainofficer in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="captainofficer.fullname | highlight: $select.search"></div>
                                  <small>
                                    B-Date: <span ng-bind-html="''+captainofficer.b_date | highlight: $select.search | date"></span>
                                  </small>
                                </ui-select-choices>
                              </ui-select>

                          <br>
                          <div class="col-md-12">

                          </div>
                    </div>
                    <div class="col-md-4">

                            <label for="skofficer">SK Chairman:</label>
                             <ui-select ng-model="brgyofficers.skofficer" name="skofficer" id="skofficer" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="skofficer._id+', '+skofficer.fullname as skofficer in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="skofficer.fullname | highlight: $select.search"></div>
                                  <small>
                                    B-Date: <span ng-bind-html="''+skofficer.b_date | highlight: $select.search | date"></span>
                                  </small>
                                </ui-select-choices>
                              </ui-select>

                          <br>
                          <div class="col-md-12">

                          </div>
                    </div>
                  <div class="col-md-4">
                    <div class="control-group" ng-class="{error: brgyofficers.kagawad.$invalid && !brgyofficers.kagawad.$pristine}">
                        <label>Councilors:</label><br>
                          <ui-select multiple ng-model="brgyofficers.kagawad" name="kagawad" id="kagawad" theme="select2" ng-disabled="disabled" sortable="true" close-on-select="false" style="width: 250px;">
                            <ui-select-match placeholder="Firstname middlename lastname">{{$item.fullname}}</ui-select-match>
                            <ui-select-choices repeat="kagawad._id+', '+kagawad.fullname as kagawad in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                              <div ng-bind-html="kagawad.fullname | highlight: $select.search"></div>
                              <small>
                                Birthday: <span ng-bind-html="''+kagawad.b_date | highlight: $select.search | date"></span>
                              </small>
                            </ui-select-choices>
                          </ui-select>
                      </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                         <div class="control-group" ng-class="{error: brgyofficers.secretary.$invalid && !brgyofficers.secretary.$pristine}">
                            <label for="resident_married_to">Secretary:</label>
                             <ui-select ng-model="brgyofficers.secretary" name="secretary" id="secretary" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="secretary._id+', '+secretary.fullname as secretary in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="secretary.fullname | highlight: $select.search"></div>
                                  <small>
                                    B-Date: <span ng-bind-html="''+secretary.b_date | highlight: $select.search | date"></span>
                                  </small>
                                </ui-select-choices>
                              </ui-select>
                          </div>
                          <br>
                          <div class="col-md-12">
                          </div>
                    </div>
                    <div class="col-md-4">
                     <div class="control-group" ng-class="{error: brgyofficers.treasurer.$invalid && !brgyofficers.treasurer.$pristine}">
                        <label for="resident_married_to">Treasurer:</label>
                         <ui-select ng-model="brgyofficers.treasurer" name="treasurer" id="treasurer" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                            <ui-select-match placeholder="Firstname, Middlename, Lastname">{{$select.selected.fullname}}</ui-select-match>
                            <ui-select-choices repeat="treasurer._id+', '+treasurer.fullname as treasurer in brgycaptain | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                              <div ng-bind-html="treasurer.fullname | highlight: $select.search"></div>
                              <small>
                                B-Date: <span ng-bind-html="''+treasurer.b_date | highlight: $select.search | date"></span>
                              </small>
                            </ui-select-choices>
                          </ui-select>
                      </div>
                      <br>
                      <div class="col-md-12">

                      </div>
                </div>
            </div> -->