
<form name="officialsform" class="form-inline" novalidate>
<div class="panel panel-default">
        <div class="panel-heading">
                        <div class="pull-right">
                             <a href="" ng-click="cancel()"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                        <h2>Family Information</h2>
        </div>
        <div class="panel-body">
          <div class="well">
                  <div class="row">
                          <div class="col-md-4">
                              <label>Interviewer's Name/Kagawad : </label>
                                           <input id="f_interviewer" name="f_interviewer" ng-model="families.f_interviewer" type="text" class="form-control" required="" capitalize-first/>

<!--                                <ui-select ng-model="families.f_interviewer" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="f_interviewer._id +', '+ f_interviewer.fullname as f_interviewer in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="f_interviewer.fullname | highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select> -->
                           </div>
                           <div class="col-md-4">

                                <label>Sitio/Purok : </label>
                                       <ui-select ng-model="families.brgy_Sitiopurok" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                        <ui-select-match placeholder="Select Sitio/Purok Name">{{$select.selected.sitioPurokname}}</ui-select-match>
                                        <ui-select-choices repeat="brgy_Sitiopurok._id +', '+ brgy_Sitiopurok.sitioPurokname as brgy_Sitiopurok in GetAllSitioPuroklist | propsFilter: {sitioPurokname: $select.search}">
                                        <div ng-bind-html="brgy_Sitiopurok.sitioPurokname | highlight: $select.search"></div>
                                        </ui-select-choices>
                                      </ui-select>
                           </div>
                           <div class="col-md-4">
                            <label>Contact No. : </label>
                            <br>
                                <textarea class="form-control" ng-model="families.contactno"></textarea>
                           </div>
                  </div>
                  <div class="row">
                  <br>
                      <div class="col-md-4">

                              <label>Father's Name : </label>
                               <ui-select ng-model="families.Father" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                <ui-select-choices repeat="Father._id +', '+ Father.fullname as Father in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                  <div ng-bind-html="Father.fullname | highlight: $select.search"></div>
                                </ui-select-choices>
                              </ui-select>
                      </div>
                      <div class="col-md-4">

                            <label>Mother's Name : </label>
                                 <ui-select ng-model="families.Mother" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                  <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                  <ui-select-choices repeat="Mother._id +', '+ Mother.fullname as Mother in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                    <div ng-bind-html="Mother.fullname | highlight: $select.search"></div>
                                  </ui-select-choices>
                                </ui-select>
                            <br>
                      </div>
                      <div class="col-md-4">
                      <label>Email Address : </label>
                      <br>
                            <textarea class="form-control" ng-model="families.emailaddress"></textarea>
                      </div>
                  </div>
                  <div class="row">
                        <div class="col-md-4">

                                <label>With Comfort Room?</label><br>
                                <label class="radio inline" for="Yes">
                                    <input type="radio" name="CR" ng-model="families.CR" id="Yes" value="Yes">
                                    Yes
                                </label>
                                <label class="radio inline" for="No">
                                    <input type="radio" name="CR" ng-model="families.CR" id="No" value="No">
                                    No
                                </label>
                                <br>
                                <label> With Water? </label>
                                <br>
                                <label class="radio inline" for="Yes">
                                    <input type="radio" name="Water" ng-model="families.Water" id="Yes" value="Yes">
                                    Yes
                                </label>
                                <label class="radio inline" for="No">
                                    <input type="radio" name="Water" ng-model="families.Water" id="No" value="No">
                                    No
                                </label>
                      </div>
                      <div class="col-md-4">
                            <label> With Electricity? </label>
                            <br>
                            <label class="radio inline" for="Yes">
                                <input type="radio" name="Electricity" ng-model="families.Electricity" id="Yes" value="Yes">
                                Yes
                            </label>
                            <label class="radio inline" for="No">
                                <input type="radio" name="Electricity" ng-model="families.Electricity" id="No" value="No">
                                No
                            </label>
                      </div>
                       <br>
                  </div>
                  <div class="row">
                        <br>
                       <label>Add your Children : </label>
                        <table class="table">
                          <tr>
                              <th>Name</th>
                              <th>Relationship</th>
                              <th><button class="btn btn-success btn-sm " ng-click="addNewChoice()"> Add Fields </button></th>
                          </tr>
                          <tr data-ng-repeat="groupmember in families.groupmember">
                              <td>
                                  <ui-select ng-model="groupmember.demographic_name" theme="select2" on-select="someFunction($item, $model)" ng-disabled="disabled" style="width: 250px;" title="Choose a person">
                                  <ui-select-match placeholder="Firstname Middlename Lastname">{{$select.selected.fullname}}</ui-select-match>
                                  <ui-select-choices repeat="demographic_name._id +', '+ demographic_name.fullname as demographic_name in children_me | propsFilter: {fullname: $select.search, prof_lastname: $select.search}">
                                    <div ng-bind-html="demographic_name.fullname | highlight: $select.search"></div>
                                  </ui-select-choices>
                                </ui-select>
                              </td>
                              <td>
                               <input type="text" class="form-control" ng-model="groupmember.demographic_relationship" />
                              </td>
                              <td>
                                  <button class="btn btn-danger btn-sm " ng-click="removeChoice(demography)">Remove</button>
                              </td>
                          </tr>
                        </table>
                  </div>
                  <div class="row">
                        <div class="well">
                                 <label>Add the child below if they're not resident in this barangay</label>
                        </div>
                              <table class="table">
                                <tr>
                                    <th>Name</th>
                                    <th>Relationship</th>
                                    <th>Address</th>
                                    <th><button class="btn btn-success btn-sm " ng-click="addNewfield()"> Add Fields </button></th>
                                </tr>
                                <tr data-ng-repeat="groupnotresidentmember in families.groupnotresidentmember">
                                    <td>
                                    <input type="text" class="form-control" ng-model="groupnotresidentmember.notresidentmember_name" />
                                    </td>
                                    <td>
                                     <input type="text" class="form-control" ng-model="groupnotresidentmember.demographic_relationship" />
                                    </td>
                                    <td>
                                     <input type="text" class="form-control" ng-model="groupnotresidentmember.demographic_address" />
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm " ng-click="removefield(demography)"> Remove </button>
                                    </td>
                                </tr>
                              </table>
                    </div>
              </div>
          </div>
        </div>
        <div class="panel-footer">

                <button ng-hide="families._id" class="btn btn-success btn-sm" ng-click="addfamily()"> Save <span class="glyphicon glyphicon-floppy-save"></span> </button>
                <button ng-hide="!families._id" class="btn btn-success btn-sm" ng-click="updatefamily(families._id)"> Update <span class="glyphicon glyphicon-floppy-save"></span> </button>
                <button ng-hide="!families._id" class="btn btn-danger btn-sm" ng-click="deletefamily(families._id)"> Delete <span class="glyphicon glyphicon-trash"></span> </button>

        </div>

    </div>
</form>
