<div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>
                <a href="/region"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <!-- /addbrgydata/{{municipalId}}  -->
                <a ng-href="" ng-click="brgy_modal('md', municipalId)" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New Barangay</a>

         <h4>List Of Barangay Of {{municipalityname}} Municipal ({{barangay_list.length}})</h4>
         <p>{{municipalityname}} | {{province}}, {{region}} </p>
        </div>
        <div class="panel-body">
            <div class="row">
                  <div class="text-center">
                      <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
                  </div>
            </div>
           <div class="row">

             <div class="col-md-4" dir-paginate="brgy in barangay_list | filter:search | itemsPerPage: pageSize" current-page="currentPage">
                <div class="panel panel-warning" >
                   <div class="panel-heading">
                      <h3 class="panel-title">{{brgy.barangay_name}}</h3>
                   </div>
                   <div class="panel-body">
                           <div class="row">
                                    <div class="col-xs-7">

                                    </div>

                                    <div class="col-xs-5">

                                    </div>
                           </div>

                           <div class="row">

                           </div>
                   </div>
                 <div class="panel-footer text-center">

                       <a href="" ng-click="brgy_edit('md', brgy._id)" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> edit </a>

                 </div>
</div>
