 <div class="panel panel-default">
            <div class="panel-heading">
             <div class="searchbox  pull-right">
                <div class="col-md-12">
            <input type="text" ng-model="search" class="form-control search-query" placeholder="Search&hellip;" />
                </div>
            </div>
                <a href="/region"><span class="glyphicon glyphicon-arrow-left"></span></a>
                <!-- ng-href="/region/createprovince/{{region._id}}" -->
                <a ng-click="province_modal('md', region._id)" class="btn btn-default pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add New Province </a>

                <h4>Provinces of {{region.region_name}} Region ({{provinces_list.length}})</h4>

        </div>
        <div class="panel-body">

              <div class="text-center">
                  <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="dirPagination.tpl.html"></dir-pagination-controls>
              </div>
          <div class="row">

         <div class="col-md-4" dir-paginate="province in provinces_list | filter:search | itemsPerPage: pageSize" current-page="currentPage">
            <div class="panel panel-warning" >
               <div class="panel-heading">
                  <h3 class="panel-title">{{province.province_name}}</h3>
               </div>
               <div class="panel-body">
                       <div class="row">
                                <div class="col-xs-7">

                                </div>

                                <div class="col-xs-5">

                                </div>
                       </div>

                       <div class="row">

                       </div>
               </div>
               <div class="panel-footer text-center">

                            <a href="" ng-click="province_edit_modal('md', province._id)" class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> edit</a>
                            <a href=""  ng-click="show(province._id)"class="btn btn-sm btn-success"><span class="glyphicon glyphicon-edit"></span> View Municipalities </a>

               </div>
            </div>
          </div>
        </div>
    </div>