<div class="panel panel-default">
    <div class="panel-heading">
    <h3>Business Establishment List</h3>
    </div>
    <div class="panel-body">
          <div class="table-responsive">
                  <input type="text" ng-model="search" class="form-control search-query" placeholder="Search the Name of the Establishment&hellip;" />
                    <hr>
                <div class="pull-right">
                     <button ng-hide="pagehide == 1" ng-class="{ disabled : prevdisable == 1 }" class="btn btn-sm btn-success" ng-click="previouspage(page - 1, getestablishments.length)"><span class="glyphicon glyphicon-chevron-left" ></span></button>
                     <button ng-hide="pagehide == 1" ng-class="{disabled : nextdisable == 1}" class="btn btn-sm btn-success" ng-click="nextpage(page + 1, getestablishments.length)"><span class="glyphicon glyphicon-chevron-right" ></span> </button>
                </div><br><br>    
                <table class="table">
                <tr>
                    <th>Business Name</th>
                     <th>Business Type</th>
                    <th>Business Owner</th>
                    <th>Date Started</th>
                </tr>
                <tr ng-repeat="business in getlimitestablishment  | filter:search">

                    <td>{{business.business_name || "Unspecified"}}</td>
                    <td>{{business.business_type}}</td>
                    <td>{{getresidentname(business.ownername)}}</td>
                   <td>{{business.date_started | date}}</td>

                </tr>

                </table>
        </div>
    </div>
    <div class="panel-footer">

    </div>
</div>